.clj-kondo/.cache
.cpcache
.idea
coverage
deployment/digitalocean/data
deployment/digitalocean/proxy/etc/ssl
deployment/local/data
node_modules
target
.env
.nrepl-port
.rebel_readline_history
.repl
*.iml
*.jar
pom.xml
build.edn
