pom.xml
*jar
/modules/backend/lib/
/modules/backend/classes/
/modules/backend/out/
/modules/backend/target/
.lein-deps-sum
.lein-repl-history
.lein-failures
.lein-plugins/
.repl
.nrepl-port
.cpcache/
.rebel_readline_history

/node_modules/
/deployment/local/.env
/deployment/local/data
/deployment/digitalocean/.env
/deployment/digitalocean/data
