.clj-kondo/.cache
.cpcache
.shadow-cljs
.idea
.run
coverage
deployment/digitalocean/data
deployment/digitalocean/proxy/etc/ssl
deployment/local/data
modules/frontend/public/test
modules/frontend/public/assets
dist
node_modules
target
.env
.nrepl-port
.rebel_readline_history
.repl
*.iml
*.jar
pom.xml
build.edn
.gitconfig
