["https://github.com/IGJoshua/coffi"
 "https://github.com/logicblocks/salutem"
 "https://github.com/clj-kondo/clj-kondo"
 "https://github.com/phronmophobic/clj-media"
 "https://github.com/fluent-development/heroicons-clojure"
 "https://github.com/tatut/xtdb-inspector"
 "https://github.com/askonomm/shh"
 "https://github.com/borkdude/nbb"
 "https://github.com/dainiusjocas/clj-jq"
 "https://github.com/wilkerlucio/pathom3"
 "https://github.com/AbhinavOmprakash/luna"
 "https://github.com/cognitect-labs/aws-api"
 "https://github.com/clojure/java.data"
 "https://github.com/oliyh/re-graph"
 "https://github.com/ingesolvoll/glimt"
 "https://github.com/lucywang000/clj-statecharts"
 "https://github.com/leafclick/pgmig"
 "https://github.com/magnetcoop/esignatures.docusign"
 "https://github.com/clojure-emacs/clj-refactor.el"
 "https://github.com/phronmophobic/membrane.term"
 "https://github.com/tristanstraub/thecreeps-godotclj"
 "https://github.com/behrica/opencpu-clj"
 "https://github.com/AbhinavOmprakash/sisyphus"
 "https://github.com/clj-commons/byte-streams"
 "https://github.com/walmartlabs/lacinia"
 "https://github.com/walmartlabs/lacinia-pedestal"
 "https://github.com/paketo-buildpacks/clojure-tools"
 "https://github.com/polyfy/polylith"
 "https://github.com/clj-commons/ordered"
 "https://github.com/clojure/tools.build"
 "https://github.com/clojure/tools.deps.alpha"
 "https://github.com/clj-commons/rewrite-clj"
 "https://github.com/johanthoren/bibcal"
 "https://github.com/ingesolvoll/kee-frame"
 "https://github.com/seancorfield/build-clj"
 "https://github.com/clj-commons/digest"
 "https://github.com/lambdaisland/deja-fu"
 "https://github.com/babashka/neil"
 "https://github.com/yetanalytics/lrsql"
 "https://github.com/yetanalytics/colossal-squuid"
 "https://github.com/rm-hull/nvd-clojure"
 "https://github.com/borkdude/sci"
 "https://github.com/sultanov-team/secret-keeper"
 "https://github.com/borkdude/api-diff"
 "https://github.com/askonomm/ruuter"
 "https://github.com/liquidz/vim-iced"
 "https://github.com/borkdude/deps.clj"
 "https://github.com/babashka/babashka"
 "https://github.com/seancorfield/next-jdbc"
 "https://github.com/seancorfield/honeysql"
 "https://github.com/ivarref/yoltq"
 "https://github.com/clj-easy/graal-config"
 "https://github.com/pfeodrippe/pitoco"
 "https://github.com/clojure/brew-install"
 "https://github.com/oliyh/cljs-http-promise"
 "https://github.com/behrica/clj-py-r-template"
 "https://github.com/djblue/portal"
 "https://github.com/seancorfield/deps-new"
 "https://github.com/bsless/stress-server"
 "https://github.com/ribelo/doxa"
 "https://github.com/seancorfield/clj-new"
 "https://github.com/liquidz/antq"
 "https://github.com/borkdude/scittle"
 "https://github.com/benedekfazekas/morpheus"
 "https://github.com/lilactown/helix"
 "https://github.com/skinkade/uniformity"
 "https://github.com/lk-geimfari/secrets.clj"
 "https://github.com/seancorfield/build-uber-log4j2-handler"
 "https://github.com/oliyh/martian"
 "https://github.com/johanthoren/julian"
 "https://github.com/erp12/fijit"
 "https://github.com/FieryCod/holy-lambda"
 "https://github.com/PEZ/clojure-exercism-template"
 "https://github.com/clojure-lsp/clojure-lsp"
 "https://github.com/clj-easy/graal-build-time"
 "https://github.com/eerohele/Tutkain"
 "https://github.com/juji-io/datalevin"
 "https://github.com/athos/trenchman"
 "https://github.com/cognitect-labs/test-runner"
 "https://github.com/DomainDrivenArchitecture/dda-k8s-crate"
 "https://github.com/henryw374/js-literal"
 "https://github.com/lambdaisland/fetch"
 "https://github.com/lambdaisland/witchcraft-plugin"
 "https://github.com/clj-commons/manifold"
 "https://github.com/IGJoshua/farolero"
 "https://github.com/jonase/eastwood"
 "https://github.com/lambdaisland/classpath"
 "https://github.com/tolitius/obiwan"
 "https://github.com/PEZ/rn-rf-shadow"
 "https://github.com/carocad/frechet"
 "https://github.com/fulcrologic/fulcro"
 "https://github.com/viesti/timbre-json-appender"
 "https://github.com/schmee/java-http-clj"
 "https://github.com/lread/test-doc-blocks"
 "https://github.com/IGJoshua/americano"
 "https://github.com/javahippie/clj-test-containers"
 "https://github.com/clojure-lsp/lein-clojure-lsp"
 "https://github.com/fulcrologic/datomic-cloud-backup"
 "https://github.com/babashka/pod-babashka-etaoin"
 "https://github.com/clojure/core.cache"
 "https://github.com/clojure/core.memoize"
 "https://github.com/kwladyka/consistency-clj"
 "https://github.com/viesti/nrepl-cljs-sci"
 "https://github.com/lispyclouds/contajners"
 "https://github.com/uncomplicate/neanderthal"
 "https://github.com/metosin/malli"
 "https://github.com/lambdaschmiede/camunda-clojure-plugin"
 "https://github.com/lilactown/autonormal"
 "https://github.com/ruedigergad/cli4clj"
 "https://github.com/camsaul/whitespace-linter"
 "https://github.com/cnuernber/tmdjs"
 "https://github.com/clojure/data.json"
 "https://github.com/clojure/tools.reader"
 "https://github.com/hyperfiddle/rcf"
 "https://github.com/retrogradeorbit/bootleg"
 "https://github.com/seancorfield/depstar"
 "https://github.com/wilkerlucio/pathom-viz"
 "https://github.com/wilkerlucio/pathom-viz-connector"
 "https://github.com/wilkerlucio/transito"
 "https://github.com/wilkerlucio/pathom"
 "https://github.com/oliyh/carmine-streams"
 "https://github.com/henryw374/tools.jvm"
 "https://github.com/alekcz/pcp"
 "https://github.com/prestancedesign/inertia-clojure"
 "https://github.com/vlaaad/remote-repl/"
 "https://github.com/BrunoBonacci/mulog"
 "https://github.com/helins/maestro.clj"
 "https://github.com/borkdude/specter-cli"
 "https://github.com/sauercrowd/clojureflare"
 "https://github.com/BetterThanTomorrow/calva"
 "https://github.com/nubank/ordnungsamt"
 "https://github.com/nubank/clj-github"
 "https://github.com/nubank/umschreiben-clj"
 "https://github.com/clojure-lsp/clojure-lsp/"
 "https://github.com/borkdude/refl"
 "https://github.com/immutant/immutant"
 "https://github.com/hoplon/hoplon"
 "https://github.com/hoplon/castra"
 "https://github.com/hoplon/highlight"
 "https://github.com/luminus-framework/luminus-template"
 "https://github.com/luminus-framework/jdbc-ring-session"
 "https://github.com/luminus-framework/luminus-undertow"
 "https://github.com/luminus-framework/ring-undertow-adapter"
 "https://github.com/luminus-framework/conman"
 "https://github.com/luminus-framework/luminus-migrations"
 "https://github.com/luminus-framework/luminus-http-kit"
 "https://github.com/luminus-framework/luminus-nrepl"
 "https://github.com/luminus-framework/luminus-immutant"
 "https://github.com/luminus-framework/luminus-jetty"
 "https://github.com/luminus-framework/luminus-pohjavirta"
 "https://github.com/luminus-framework/luminus-nginx"
 "https://github.com/luminus-framework/luminus-transit"
 "https://github.com/luminus-framework/ring-ttl-session"
 "https://github.com/luminus-framework/expiring-map"
 "https://github.com/luminus-framework/luminus-aleph"
 "https://github.com/luminus-framework/boot-migratus"
 "https://github.com/clojure-liberator/liberator"
 "https://github.com/cambium-clojure/cambium.core"
 "https://github.com/cambium-clojure/cambium.codec-cheshire"
 "https://github.com/cambium-clojure/cambium.codec-simple"
 "https://github.com/puppetlabs/clj-i18n"
 "https://github.com/noprompt/garden"
 "https://github.com/michaelklishin/welle"
 "https://github.com/pedestal/pedestal"
 "https://github.com/pedestal/pedestal.ions"
 "https://github.com/boot-clj/boot"
 "https://github.com/boot-clj/boot-cljs"
 "https://github.com/boot-clj/boot-figreload"
 "https://github.com/boot-clj/boot-sources"
 "https://github.com/boot-clj/boot-cljs-devtools"
 "https://github.com/tadam-framework/tadam-core"
 "https://github.com/georgejahad/cdt"
 "https://github.com/georgejahad/debug-repl"
 "https://github.com/layerware/hugsql"
 "https://github.com/puniverse/pulsar"
 "https://github.com/uncomplicate/clojurecl"
 "https://github.com/michaelklishin/quartzite"
 "https://github.com/clojure-expectations/expectations"
 "https://github.com/JonyEpsilon/gorilla-repl"
 "https://github.com/clojure-android/neko"
 "https://github.com/cerner/clara-rules"
 "https://github.com/uncomplicate/fluokitten"
 "https://github.com/reagent-project/reagent"
 "https://github.com/incanter/incanter"
 "https://github.com/graphqlize/graphqlize"
 "https://github.com/michaelklishin/monger"
 "https://github.com/planck-repl/planck"
 "https://github.com/vlaaad/reveal"
 "https://github.com/lambdaforge/wanderung"
 "https://github.com/clojure-emacs/refactor-nrepl"
 "https://github.com/clj-commons/potemkin"
 "https://github.com/babashka/sci"
 "https://github.com/yogthos/mastodon-bot"
 "https://github.com/vlaaad/remote-repl"
 "https://github.com/babashka/scittle"]


